{% extends 'business/base.html' %} 

{% block title %} Items {% endblock %}

{% block body %}

  <div class="row container">
    <div class="col-md-10 offset-md-1">
      <div class="card shadow text-white mb-3 mt-5">
        <div class="card-header text-center">
          <h5 class="m-0 font-weight-bold text-black">Items</h5>
        </div>
        <div class="card-body">
          <span class="float-right mb-3">
            <a href="{% url 'business_add_item' %}" class="btn btn-black">Add Item</a>
          </span>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                <tr class="align-middle">
                  <th scope="row">{{ item.id }}</th>
                  <td>
                    <a href="{% url 'business_edit_item' item.id %}">{{ item.name }}</a>
                  </td>
                  <td>{{ item.description }}</td>
                  <td class="text-right">${{ item.price }}</td>
                  <td class="text-center">
                    <img src="{{ item.image.url }}" class="rounded" width="50" height="50" alt="">
                  </td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
          
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}